body #curriculo {
	background-color: #FFF;
	padding: 15px;
	color: #767676;
	font-family: Verdana;
}
#curriculo b {
	font-weight: bold;
}
#curriculo small {
	font-size: 13px;
}
#curriculo h1 {
	font-weight: bold;
	font-size: 25px;
	border-bottom: 1px solid #0059b3;
	color: #0059b3;
}

#curriculo h2 {
	font-size: 20px;
	color: #0059b3;
	border-bottom: 1px solid #0059b3;
}

#curriculo .avatar {
	float:left;
	width:20%;
	margin-right: 15px;
}
#curriculo .resumo {
	text-align: justify;
	font-size: 15px;
	float:left;
	width: 77%;
	line-height: 18px;
}

#curriculo table {
	margin-top: 10px;
	font-size: 15px;

}
	#curriculo table tr td {
		padding: 1px 1px 1px 15px;
		line-height: 18px;
		
	}
	#curriculo table tr td:nth-child(1){
		width: 130px;

	}

#curriculo .clearfix {
	clear: both;
}