body {
  background-color: #DEDEDE;
  
}

/************* cabeçalho - imagens **********************/
.logos {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  background-color: #FFF;
  border-bottom: 1px solid #CCC;
}
  .logos img {
    position:relative;
    left:50%;
  }
    .logos img:nth-child(1) {
      border-right: 1px solid #CCC;
      margin-left: -180px; /* metade da largura do logo */
      padding-right: 16px;  
    }

/************* menu -abas **********************/
.abas {
  padding-top: 20px;

}
  .abas ul {
    margin: 0 auto;
    padding: 0;
    width: 75%;
}
    .abas ul li {
      display: inline;
      background-color: #01528f;
      color: #DEDEDE;
      padding: 8px;
      border: 1px solid #CCC;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      
    }
    .abas ul li:hover {
      cursor:pointer;
      opacity: 0.8;
      color:#FFF;
    }
      /* quando o botão foi clicado */
      .abas ul li.ativo {
        background-color: #FFF;
        color:#01528f;   
        border-bottom: none;   
        position: relative;
        z-index: 2;  
      }
      .abas ul li.ativo:hover{
        color:#01528f;
        cursor:auto;
        opacity: 1; 
      }

/************* corpo - conteúdo **********************/
.conteudo {
  margin: 0 auto;
  margin-top: 8px;
  width: 75%;
  background-color: #FFF;
  height: 100px;
  border: 1px solid #CCC;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  position: relative;
  z-index: 1;
}

.conteudo .info-pessoal {
  padding: 10px;
}

.conteudo .orientacoes {
  opacity: 0;
  padding: 10px;
}

.conteudo .publicacoes {
  opacity: 0;
  padding: 10px;
}